<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Aeris Maps - Aeris.js Demo</title>

  <link rel="stylesheet" href="../static/styles.css">
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>

  <script type="text/javascript" src="https://cdn.aerisjs.com/aeris.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <style>
    #map-canvas {
      width: 800px;
      height: 600px;
    }
  </style>
</head>
<body>
  <div id="map-canvas"></div>
  <script src='../static/animation_tiles.js'></script>
</body>
</html>